$off-black: rgba(0, 0, 0, 0.87) !default;

// Header Styles
$h1-fontsize: 4.4rem !default;
$h2-fontsize: 3.6rem !default;
$h3-fontsize: 2.8rem !default;
$h4-fontsize: 2rem !default;
$h5-fontsize: 1.8rem !default;
$h6-fontsize: 1.6rem !default;
$h7-fontsize: 1.4rem !default;
$h8-fontsize: 1.2rem !default;
$h9-fontsize: 1.1rem !default;

$border-radius: rem(5px);

$primary-text-size: 1.125rem;
$secondary-text-size: 0.875rem;
$input-text-size: 0.9375rem;
$small-text-size: 0.75rem;

$weight-xs: 200;
$weight-s: 300;
$weight-m: 400;
$weight-l: 500;
$weight-xl: 600;
$weight-xxl: 700;

$margin-xs: rem(2px);
$margin-s: rem(4px);
$margin-m: rem(8px);
$margin-l: rem(12px);
$margin-xl: rem(16px);
$margin-xxl: rem(24px);
$margin-xxxl: rem(32px);
$margin-xxxxl: rem(40px);