@import '../../styles/_base';

.landing {
  display: grid;
  grid-template-areas:
  'cta_panel example_panel';
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  min-height: 100vh;
}

@media #{$medium-and-down} {
  .landing {
    grid-template-areas:
    'cta_panel'
    'example_panel';
    grid-template-columns: 100%;
    grid-template-rows: none;
  }
}

.ctaPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  padding: rem(40px);
  color: $light-color;
  grid-area: cta_panel;
}

.logoWrapper {
  margin: rem(20px);
  height: 25%;
  min-height: rem(128px);
  max-height: rem(200px);
}

.logo {
  @extend %img-responsive;
  max-height: rem(200px);

  .logo::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    width: 100%;
    content: '';
  }
}



.catchPhrase {
  margin: rem(20px) 0;
  text-align: center;
  color: $light-color;
  font-size: $h6-fontsize;
  font-weight: $weight-s;
}

.ctaButton {
  margin: rem(20px) 0;
  outline: 0;
  border: 0;
  border-radius: $border-radius;
  box-shadow: 0 6px 15px 6px rgba(0, 0, 0, 0.08);
  background-color: $secondary-color;
  padding: $margin-xl $margin-xxxl;
  color: $light-color;
  font-size: $h9-fontsize;
  font-weight: $weight-xl;
}

.messagingPanel {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: $margin-xxl;
  grid-area: example_panel;
}

%message-bubble {
  margin: $margin-m;
  cursor: default;
  padding: $margin-l $margin-xxl;
}

%message-bubble:hover {
  animation: float 2s ease-in-out infinite;
}

$message-bubble-radius-big: rem(15px);
$message-bubble-radius-small: rem(4px);

%message-row {
  display: flex;
  flex-shrink: 0;
  margin: $margin-s 0;
  max-width: 75%;
}

.messageRow_left {
  @extend %message-row;
}

.messageRow_right {
  @extend %message-row;
  align-self: flex-end;
}

.messageBubble_left {
  @extend %message-bubble;
  border-radius:
  $message-bubble-radius-big $message-bubble-radius-big
  $message-bubble-radius-big $message-bubble-radius-small;
  background-color: $main-color;
  color: $light-color;
}

.messageBubble_right {
  @extend %message-bubble;
  border-radius:
  $message-bubble-radius-big $message-bubble-radius-big
  $message-bubble-radius-small;
  background-color: $dark-gray;
  color: $gray;
}

.ctaBubble {
  @extend %message-bubble;
  border: 2px solid $main-color;
  border-radius: rem(30px);
  color: $main-color;
}
